p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}



.card{
    border-radius: 14px;
    width: 350px;
    height: 400px;
    background-color: lightblue;
}

.upper-portion{
    height: ;

}

.img2{
    height: 100px;
    border-radius: 50px;

}

.all-logo{
    display: flex;
    flex-direction: row;
}


.img1{
    margin-right: 20px;
    height: 30px;
    object-fit: contain;
    object-position: center;
    border-radius: 20px;

}
