@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: "Poppins" , sans-serif;
    margin: 0;
    padding: 0;
    }


a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

body {
    background-color:black;
    margin: 0;
    padding: 0;
}

/*the z-index was added because when we didnt use it the navigation bar was completey disappeared*/


.navigation-bar{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 220px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1000;
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 30px;
    padding-bottom:10px ;
    border-bottom: 1px white solid;

}

.name a{
    font-size: 22px;
}


.items{
    display: flex;
    position: relative;

}

.items li{
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px;
    width: 200px;
    transition: all 0.15s linear;

}

.items li:hover{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 0;
}

.items i{
    margin-left: 3px;
    margin-right: 5px;
}


.social-media {
    bottom: 20px;
    position: absolute;
    display:flex ;
  /*  justify-content: center; this cant be used because
   in position absolute and fixed we cant use justify content*/
    align-items: center;
    right: 30%;
    
}

.social-media i{
    margin-right: 8px;
    opacity: 0.6;
    transition: all 0.2s linear;
}

.social-media i:hover{
    opacity: 1;

}
