.inline-flex-container {
    display: inline-flex;
    background-color: #f0f8ff;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .inline-flex-item {
    background-color: #00ced1;
    padding: 10px;
    margin-right: 10px;
  }
  
  .flex-container {
    display: flex;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
    flex: 1;
  }
  
  .flex-item {
    background-color: #90ee90;
    padding: 10px;
    margin-right: 10px;
  }
  
  .inline-table {
    display: inline-table;
    background-color: #ffd700;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .list-item {
    display: list-item;
    background-color: #ffa07a;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .table {
    display: table;
    width: 100%;
    background-color: #f0e68c;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  
/*  .table-row {
    display: table-row;
    background-color: #ff7f50;
  }*/
  
  .table-cell {
    display: table-cell;
    background-color: #00ffff;
    padding: 10px;
  }
  